.sidePanel {
  height: 100vh;
  width: 20vw;
  display: flex;
  flex-direction: column;
}

.sidePanel header {
  background-color: #f6f6f6;
  height: 71.5px;
}

.sidePanel .seeDetails {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.seeDetails p {
  width: 100%;
  text-align: center;
  padding: 3rem;
  color: #a5a5a5;
  font-size: 14px;
}

.transactionDetails p {
  padding: 0 3rem;
  font-weight: 500;
}

.transactionDetails p span {
  font-weight: 400;
  display: block;
}

.transactionDetails a {
  text-decoration: none;
}
